@import url('https://fonts.googleapis.com/css2?family=Borel&family=PT+Sans&family=Poppins&display=swap');

*{
font-family: 'Borel', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
}



body{
    background-color: #0d171d;
    color: aliceblue;
}

.card img{
    height: 30rem;
    object-fit: cover;  
}


.imagenCarrusel{
    height: 30rem;
    object-fit: cover;  
    filter: brightness(.8); 
}

select{
    width: 10rem;
}
label{
    width: 5rem;
    padding-bottom: 1em;
}

textarea{
    width: 100%;
    resize: none;
}
input{
    width: 10rem;
    height: 2rem;
}

.barraNavegacion{
    background-color: #1b252f;
   
}

.barraNavegacion a{
    color: rgb(219, 218, 218);
}

.barraNavegacion .activo{
    color: rgb(255, 255, 255);
}

